<div class="content">
  <div class="row form-code">
    <%= render 'vendors_dashboard/form_code' %>
  </div>
</div>

<script>

  jQuery(document).ready(function ($) {
    $(document).on("change", ".head", function (e) {
      e.preventDefault();
      var input_fields = this.value;
      $.ajax({
        type: "GET",
        url: "<%= form_editor_vendors_dashboard_index_path %>",
        data: {'input_fields': input_fields}
      });
    });

  });

</script>