<!-- Page Content -->
<div class="content">
  <div id='post-content'></div>
  <div class="row">
    <%= render 'layouts/shared/dispute_list' %>
    <div class="col-lg-8" id="chat-view" >
      <%= render 'layouts/shared/chat_view' %>
    </div>
  </div>
</div>
<script>


  $(document).on("click", ".make-request", function (e) {
    e.preventDefault();
    var link = $(this).data("href");
    window.location.href = link;
  });


</script>