<div id="page-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <div class="white-box col-sm-6">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal form-material' }) do |f| %>
          <h3 class="box-title m-b-20">Enter your name</h3>
          <div class="form-group ">
            <div class="col-xs-4">
              <%= f.label :name, class: "form-control" %></br>
            </div>
            <div class="col-xs-4">
              <%= f.text_field :name, class: "form-control", placeholder: "Your Name" %>
            </div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-4">
              <%= f.submit "save", class: "btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>