<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h6>Hey <%= @vendor_email.first_name if @vendor_email.first_name.present? %> <%= @vendor_email.last_name if @vendor_email.last_name.present? %>,</h6>
<br>
<p>
  <%= @message.body %>.<br>
</p>
<br>
<h6>Best Regards,</h6>
<br>
<h6>Team <%= @vendor_name if @vendor_name.present? %></h6>
</body>
</html>