<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>You had created an issue</h1>
<p>
  <%= @message.body %>.<br>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>