<div class="card-body card-block">
  <% if AutomatedResponse.where(vendor_id: current_vendor.id).present? && AutomatedResponse.where(vendor_id: current_vendor.id).pluck(:is_active).uniq.count == 1 && AutomatedResponse.where(vendor_id: current_vendor.id).pluck(:is_active).uniq.last == true %>
    Enable/Disable all automated responses
    <div class="onoffswitch">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
      <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
    <input id="checkbox" type="checkbox" checked/>
    <% elsif AutomatedResponse.where(vendor_id: current_vendor.id).present? && AutomatedResponse.where(vendor_id: current_vendor.id).pluck(:is_active).uniq.count == 1 && AutomatedResponse.where(vendor_id: current_vendor.id).pluck(:is_active).uniq.last == false  %>
    Enable/Disable all automated responses
    <div class="onoffswitch">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
      <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
    <input id="checkbox" type="checkbox" />
    <% else %>
    Enable/Disable all automated responses
    <div class="onoffswitch">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
      <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
    <input id="checkbox" type="checkbox" />
    <% end %>

  <table class="table color-table primary-table">
    <thead>
    <h4 class="page-title">My Responses</h4>
    </thead>
    <tbody>
    <tr>
      <% @responses.each do |response| %>
          <td><%= response.trigger %></td>
          <td><%= link_to 'Edit', new_automated_response_path(response) %>
          <td><%= link_to 'Destroy', { action: :destroy, id: response.id }, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
  </table>
</div>
<script>

  $(document).on("change", "#myonoffswitch", function (e) {
      $('#checkbox').trigger('click');
        var ckbox = $('#checkbox');
        if (ckbox.is(':checked')) {
            $.ajax({
              url: '/automated_responses/turn_off',
              type: "POST",
              data: {"disable" : true},
              dataType: "json"
            });
        } else {
            $.ajax({
              url: '/automated_responses/turn_off',
              type: "POST",
                data: {"disable" : false},
                dataType: "json"
            });
        }
    e.preventDefault();
  });


</script>