<!-- Page Content -->

<div class="chatview content ">
  <%= render 'vendors_dashboard/chat_view' %>
</div>

<script>


  $(document).on("click", ".make-request", function (e) {
    e.preventDefault();
    var link = $(this).data("href");
    window.location.href = link;
  });


</script>